apiVersion: v1
kind: Secret
metadata:
  name: zerofs-encryption-password
  namespace: zerofs
stringData:
  password: "correcthorsebatterystaple"
---
apiVersion: v1
kind: Secret
metadata:
  name: minio-zerofs-credentials
  namespace: zerofs
stringData:
  AWS_ACCESS_KEY_ID: "minioadmin"
  AWS_SECRET_ACCESS_KEY: "minioadmin"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: zerofs-btrfs-config
  namespace: zerofs
data:
  awsAllowHTTP: "true"
  awsCredentialsSecretName: minio-zerofs-credentials
  awsDefaultRegion: us-east-1
  awsEndpoint: http://minio.default.svc.cluster.local:9000
  storageURL: s3://zerofs
  encryptionPasswordSecretName: zerofs-encryption-password
  cacheDiskSizeGB: "0.5"
  cacheMemorySizeGB: "0.2"
  zerofsImage: "ghcr.io/barre/zerofs:0.22.4"
  # New config options we added
  lsmL0MaxSsts: "16"
  lsmMaxUnflushedGB: "0.1"
  filesystemMaxSizeGB: "10.0"
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: zerofs-test
provisioner: zerofs.csi.driver
parameters:
  filesystem: btrfs
  configMapName: zerofs-btrfs-config
mountOptions:
  - compress-force=zstd
